@import url('https://fonts.googleapis.com/css?family=Francois+One');
body,html{
	height: 100%;
	margin: 0;
}

.titulo{
	position: absolute;
	transform: translate(-40%, -360%);
	font: white;
	font-family: 'Francois One', sans-serif;
}

.bg{
	background-image: url("dt.jpeg");
	height:100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 

	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	filter: grayscale(40%);

}

.container{
	position: absolute;
	margin: 20px;
	max-width: 500px;
	padding: 20px;
	background-position: center;
	background-color: white;

	width: 400px;
	
	transform: translate(-50%, -50%);

}

.titulo-entrada{
	margin-left: 100px;
	font-family: 'Francois One', sans-serif;
}

input[type=file]{
	width: 100%;
	padding: 25px;
	margin: 45px 0 22px 0;
	border: none;
	background: #f1f1f1;
}

.btn{
	background-color: #4CAF50;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

.btn:hover{
	opacity: 1;
}

